html, body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.title{
    text-align: center;
    font-size: 67px;
    transform: translateY(50px);
}

.top-section {
    background-color: #4a90e2;
    color: #333;
    padding-bottom: 50px;
    text-align: center;
}

.animation-title{
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    width: 100%;
    color: #0e0808;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold; 
    font-size: 50px; 
}

.navigation-bar{
    background-color: #5d5757; 
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 40px; 
    width: 100%;
    transform: translateX(-25px);
    margin-top: -289px
}

.navigation-bar-text{
    color: white; 
    font-family: "Google Sans", sans-serif; 
    font-size: 20px;
    transform: translateX(25px)
}
