html, body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.title{
    text-align: center;
    font-size: 67px;
    transform: translateY(50px);
}

.top-section {
    background-color: #4a90e2;
    color: #333;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
    height: 500px
}

.bottom-section {
    background-color: rgb(196, 226, 74);
    color: #333;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
    height: 800px
}

.animation-title{
    position: absolute;
    color: #0e0808;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold; 
    font-size: 50px; 
}

.navigation-bar{
    background-color: #5d5757;
    padding: 30px;
    display: flex;
    justify-content: center;
    height: 15px;
    gap: 40px; 
    width: 100%;
    margin-top: -300px;
}

.navigation-bar-text{
    color: white; 
    font-family: "Google Sans", sans-serif; 
    font-size: 20px;
    transform: translateX(25px)
}
.image_box_1{
    background-color: #d1cdcd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    width: 400px;
    height: 300px;
    margin: 50px auto; 
    overflow: scroll;
    margin-left: 325px;
    transform: translateY(700px)
}