html{
    font-family: "Montserrat", sans-serif;
    background: rgb(79, 134, 150);
    margin: 0;
}

.title{
    text-align: center;
    font-size: 67px;
}

.animation-title{
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    width: 100%;
    color: #0e0808;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold; 
    font-size: 67px;
}


