html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  }
  
  .navigation-bar {
  background-color: #5d5757;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  position: fixed;
  z-index: 50
  }
  
  .navigation-bar-text {
  color: white;
  font-family: "Google Sans", sans-serif;
  font-size: 20px;
  z-index: 50
  }
  
  .top-section {
  background: linear-gradient(0turn, #75a4f0, #ee7674);
  color: #333;
  text-align: center;
  width: 100%;
  height: 700px;
  padding-top: 100px;
  }
  
  .divider{
  text-align: center;
  }
  
  .arrow{
  width: 125px;
  height: auto;
  position: absolute;
  left: 45%;
  top: 500px;
  transform: translateX(-50%);
  animation: updown 3s ease-in-out infinite;
  }
  
  @keyframes updown {
  0% {
  transform: translateY(0);
  }
  50% {
  transform: translateY(30px);
  }
  100% {
  transform: translateY(0);
  }
  }
  
  .bottom-section {
  background: linear-gradient(0turn, #f075a4, #74ee76);
  color: #333;
  text-align: center;
  width: 100%;
  height: 2000px;
  padding-top: 247px;
  display: flex;
  justify-content: space-between;
  }
  
  .title {
  text-align: center;
  font-size: 150px;
  margin: 10px 0;
  margin-top: 25px;
  }
  
  .animation-title {
  position: relative;
  display: inline-block;
  color: #0e0808;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 67px;
  margin-top: 160px;
  }
  
  .blinking-cursor {
  display: inline-block;
  margin-left: 5px;
  font-size: 100px;
  color: #0e0808;
  animation: blink 1s step-end infinite;
  }
  
  @keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
  }
  
  .image-box1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 8px 5px 0 rgba(13, 6, 6, 0.3);
  margin-left: 500px;
  transform: translateY(-425px)
  }
  
  .aboutmepic{
  width: 290px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 856px;
  transform: translateX(-78.5%);
  border-radius: 20px
  }
  
  .aboutme-heading-text {
  color: black;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  margin-bottom: 10px;
  margin-left: 50px;
  transform: translateY(-180px)
  }
  
  .aboutme-listed-text {
  color: black;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 10px;
  transform: translateY(-170px)
  }
  
  .image-box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 300px;
  height: 277px;
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 8px 5px 0 rgba(13, 6, 6, 0.3);
  margin-left: 650px;
  transform: translateY(-375px)
  }
  
  .hobbies-heading-text{
  color: black;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  margin-bottom: 10px;
  margin-left: 1295px;
  transform: translateY(-660px)
  }
  
  .hobbies-listed-text {
  color: black;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
  text-align: right;
  margin-right: 4px;
  transform: translateY(-650px)
  }
  
  .hobbiespic{
  width: 290px;
  height: auto;
  position: absolute;
  top: 1211px;
  transform: translateX(-17.5%);
  border-radius: 20px
  }
  
  .basketballpic{
  width: 175px;
  height: auto;
  position: absolute;
  right: 50%;
  top: 1625px;
  transform: translateX(350%);
  border-radius: 20px
  }
  
  .image-box3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 8px 5px 0 rgba(13, 6, 6, 0.3);
  margin-left: 500px;
  transform: translateY(-500px)
  }
  
  .right-arrow {
  width: 125px;
  height: auto;
  position: absolute;
  right: 365px;
  top: 1685px;
  transform: translateX(50%);
  animation: leftright 3s ease-in-out infinite;
  }
  
  @keyframes leftright {
  0% {
  transform: translateX(50%) translateY(0);
  }
  50% {
  transform: translateX(50%) translateX(-30px);
  }
  100% {
  transform: translateX(50%) translateY(0);
  }
  }
  
  .clickme{
  font-family: "Brush Script MT", sans-serif;
  font-size: 25px;
  transform: translateY(-810px);
  margin-left: 750px
  
  }
  
  .sports-heading-text {
  color: black;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  margin-bottom: 10px;
  margin-left: 50px;
  transform: translateY(-790px)
  }
  
  .sports-listed-text {
  color: black;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 10px;
  transform: translateY(-780px)
  }
  
  .subjects-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  padding: 60px 60px 60px;
  transform: translateX(25px);
  margin-top: -685px
  }
  
  .subject-box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 8px 5px 0 rgba(13, 6, 6, 0.3);
  }
  
  .subjects-heading-text {
  color: black;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 50px;
  transform: translateY(-660px)
  }
  
  .subjects-text-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  padding: 20px 60px 60px;
  transform: translateX(25px);
  }
  
  .subject-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50px);
  width: 200px;
  height: 80px;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 8px 5px 0 rgba(13, 6, 6, 0.3);
  font-size: 18px;
  font-weight: bold;
  color: black;
  }
  
  .highlight-yellow{
  background-color: yellow;
  color: black;
  }
  
  .highlight-green{
  background-color: lime;
  color: black;
  }
  
  .subject-box2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 8px 5px 0 rgba(13, 6, 6, 0.3);
  transform: translateY(625px);
  }
  
  .subject-text-box2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50px);
  width: 200px;
  height: 80px;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 8px 5px 0 rgba(13, 6, 6, 0.3);
  font-size: 18px;
  font-weight: bold;
  color: black;
  transform: translateY(575px);
  }